<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.user.member.UserMemberMapper">
	
 	<!-- 로그인 -->
 	<select id="login" resultType="kr.co.tobe.vo.MemberVO" parameterType="kr.co.tobe.vo.MemberVO">
 		SELECT * FROM member WHERE id=#{id} AND pwd=MD5(#{pwd}) and user_validity=true;
 	</select>
	
	<!-- 회원가입 -->
 	<insert id="regist" parameterType="kr.co.tobe.vo.MemberVO">
		INSERT INTO member(
			name, id, pwd, email, gender, birthday, hp, addr1, addr2, registdate, zipcode, user_validity, email_agree
		) VALUES (
			#{name}, #{id}, MD5(#{pwd}), #{email}, #{gender}, #{birthday}, #{hp}, #{addr1}, #{addr2}, NOW(), #{zipcode}, 1, #{email_agree}
		)
		<selectKey keyProperty="member_no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()   
		</selectKey>
 	</insert>
	
	
	<!-- 비밀번호 확인 -->
 	<select id="pwdCheck" resultType="kr.co.tobe.vo.MemberVO" parameterType="kr.co.tobe.vo.MemberVO">
 		SELECT * FROM member WHERE pwd=MD5(#{pwd})
 	</select>
	
	
	<!-- 회원탈퇴 -->
	<update id="quit" parameterType="kr.co.tobe.vo.MemberVO">
		UPDATE member
		SET user_validity = false
		where member_no= #{member_no}
	</update>
	
	 	


</mapper>
