@charset "UTF-8";


.wrap {
	width: 85rem;
	height: 80rem;
	margin: 0 auto;	
	position: relative;
}

*{
	box-sizing: border-box;
}

.header { 
	width: 75rem;
	height: 12rem;
	position: absolute;
	top: 0;
	left: 0rem;
}

.header_memberBar {
	position: absolute;
	color: #000;
	right: 0;
	top:10%;
	font-family: Inter;
	text-align: center;
	font-size: 1rem;
	letter-spacing: 0;
}

.tobe_logo {
	position: absolute;
	top: 6rem;
	width: 15rem;	
	margin: 0 0 0 50px;
}

.menu_container{
	position: absolute;
	width: 50rem;
	right: 0;
	top: 6.5rem;
	font-size: 
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #49654E; 
}

.menu_container > ul > li {
    list-style: none;
    float: left;        
    height: 3rem;
    line-height: 3rem;
    width: 25%;
    text-align: center;
    color: #d3d3d3;
    font-size: 2rem;
}

.menu_container > ul > li:hover {
    color: #49654E;
    font-weight: bolder;
    cursor:pointer; 
}

.quickMenu {
	position: absolute;
	width: 4rem;
	top: 30rem;
	right: -5rem;
	z-index:99999;
}

.quick {
	width: 4rem;
}

#goTop {
    cursor: pointer;
}

#goBottom {
    cursor: pointer;
}

.footer { 
   background-color:#d3d3d3;
   width:75rem;
   height:8rem;
   position:absolute;
   top: 65rem;
}

.footer_content {
   display: grid;
     place-items: center;
     color: #A4A4A4;
     display: inline-block;
     margin: 40px 0 0 40px;
}

.footer_logo {
   width: 6rem;
   display: grid;
     float: left;
   height: 5rem;
   font-size: 10px;
}
.footer_info{
   width: 37.5rem;
   display: grid;
     place-items: center;
     float: left;
     height: 3rem;
     color: #A4A4A4;
     font-size: 12px;
   
}
