<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.user.course.UserCourseMapper">
	<select id="lectureSelect" parameterType="kr.co.tobe.vo.CourseVO" resultType="kr.co.tobe.vo.CourseVO">
		SELECT teacher_img_org, cname, time, price 
		FROM course
	</select> 
	<select id="complexSelect" parameterType="kr.co.tobe.vo.CourseVO" resultType="kr.co.tobe.vo.CourseVO">
      	SELECT *
      	FROM course
      	WHERE education = #{education}
          	AND subject = #{subject}
          	AND area = #{area}
          	AND branch = #{branch}
          	AND level = #{level}
          	<if test="mon != null">AND (mon = #{mon}</if>
         	<if test="tue != null">OR tue = #{tue}</if>
         	<if test="wed != null">OR wed = #{wed}</if>
         	<if test="thu != null">OR thu = #{thu}</if>
         	<if test="fri != null">OR fri = #{fri}</if>
         	<if test="sat != null">OR sat = #{sat}</if>
         	<if test="sun != null">OR sun = #{sun})</if>
          	AND timezone = #{timezone}
   </select>
	<update id="qnaUpdate" parameterType="kr.co.tobe.vo.CqnaVO">
		UPDATE cqna SET 
			cq_title=#{cq_title},
			cq_content=#{cq_content}
		WHERE cqna_no=#{cqna_no}
	</update>
	<insert id="qnaInsert" parameterType="kr.co.tobe.vo.QnaVO">
		INSERT INTO cqna (
			`course_no`,
			`member_no`,
			`cq_title`,
			`cq_content`,
			`cq_writedate`
		) VALUES (
			#{course_no},
			#{member_no},
			#{cq_title},
			#{cq_content},
			NOW()
		)
		<selectKey keyProperty="cqna_no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
<!-- 	<update id="updateGno" parameterType="int"> 
		UPDATE cqna SET gno=#{no} WHERE cqna_no=#{no}
 	</update> -->
	
	<delete id="qnaDelete" parameterType="int">
		DELETE FROM cqna WHERE cqna_no=#{no}
	</delete>
	
	<select id="courseSelect" parameterType="int" resultType="kr.co.tobe.vo.CourseVO">
		SELECT *
		FROM course
		WHERE course_no = #{no};
	</select>
	
	
	<sql id="cqnaSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					cq_title LIKE '%${searchWord}%' OR cq_content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 강좌문의 -->
	<select id="cqnaDetailList" parameterType="kr.co.tobe.vo.CqnaVO" resultType="kr.co.tobe.vo.CqnaVO">
		SELECT *
		FROM cqna
		WHERE course_no = #{course_no}
		LIMIT #{startIdx}, 10
		<!--  
		<include refid="cqnaSql"/>
		ORDER BY gno DESC, ono ASC
		LIMIT #{startIdx}, 10-->
	</select>
	
	<select id="cqnaCount" parameterType="kr.co.tobe.vo.CqnaVO" resultType="int">
		SELECT COUNT(*)
		FROM cqna
		<include refid="cqnaSql"/>
	</select>
	
	<select id="lectureDetail" parameterType="kr.co.tobe.vo.CourseVO" resultType="kr.co.tobe.vo.CourseVO">
        SELECT *
        FROM course
        WHERE course_no = #{course_no};
    </select>
    
    
    <!-- 강좌후기 -->
    <select id="ReviewList" parameterType="kr.co.tobe.vo.ReviewVO" resultType="kr.co.tobe.vo.ReviewVO">
		SELECT *
		FROM review
		WHERE course_no = #{course_no}
		LIMIT #{startIdx}, 10
		<!--  
		<include refid="cqnaSql"/>
		ORDER BY gno DESC, ono ASC
		LIMIT #{startIdx}, 10-->
	</select>
    <!-- <select id="cqnaDetailQnaList" parameterType="kr.co.tobe.vo.ReviewVO" resultType="kr.co.tobe.vo.ReviewVO">
        SELECT r_title, r_writedate, r_content
        FROM review
        WHERE review_no = #{reviewNo};
    </select>  -->
</mapper>