<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.user.pay.UserPayMapper">
	
	<select id="payDetailIndex" parameterType="int" resultType="java.util.Map">
		SELECT pd.*, teacher_img_real
		FROM pay_detail pd JOIN course c ON pd.course_no=c.course_no
		WHERE detail_no = #{detail_no}
	</select>


</mapper>