<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.user.common.UserCommonMapper">
	<select id="list" resultType="java.util.Map" parameterType="int">
		SELECT education, area, branch, subject, mon, tue, wed, thu, fri, sat, sun, time, price, cname, cart_no
		FROM basket INNER JOIN course
		ON basket.course_no = course.course_no
		WHERE member_no = #{no}
	</select>
		<!-- WHERE member_no = #{no}-->
	
	<delete id="delete" parameterType="int">
		DELETE FROM basket WHERE cart_no=#{no}
	</delete>	
	
	<select id="count" resultType="int" parameterType="int">
		SELECT count(*)
		FROM basket
		 WHERE member_no = #{no}
	</select>
		<!-- WHERE member_no = #{no} -->
		
		<!-- 마이페이지의 main 메뉴들에 대한 select문 -->
	<!-- 
	<resultMap type="HashMap" id="currentCourseIndexpMap">
		<id column="teacher_img" property="teacher_img"/>
		<id column="i_cname" property="i_cname"/>
		<id column="i_startday" property="i_startday"/>
		<id column="i_endday" property="i_endday"/>
	</resultMap>   -->
	
	<resultMap type="HashMap" id="currentCourseIndexpMap">
	    <id column="teacher_img" property="teacher_img"/>
	    <result column="i_cname" property="i_cname"/>
	    <result column="i_startday" property="i_startday" javaType="java.util.Date" typeHandler="kr.co.tobe.util.StringToDateTypeHandler"/>
	    <result column="i_endday" property="i_endday" javaType="java.util.Date" typeHandler="kr.co.tobe.util.StringToDateTypeHandler"/>
	</resultMap>
	
	<resultMap type="HashMap" id="pastCourseIndexpMap">
		<id column="teacher_img" property="teacher_img"/>
		<id column="pay_date" property="pay_date"/>
		<id column="order_no" property="order_no"/>
		<id column="i_cname" property="i_cname"/>
		<id column="i_price" property="i_price"/>
		<id column="i_startday" property="i_startday"/>
		<id column="i_endday" property="i_endday"/>
		<id column="member_no" property="member_no"/>
	</resultMap>

	<resultMap type="HashMap" id="myCourseAskIndexMap">
		<id column="teacher_img" property="teacher_img"/>
		<id column="pay_date" property="pay_date"/>
		<id column="order_no" property="order_no"/>
		<id column="i_cname" property="i_cname"/>
		<id column="i_price" property="i_price"/>
		<id column="i_startday" property="i_startday"/>
		<id column="i_endday" property="i_endday"/>

	</resultMap>
	
	<resultMap type="HashMap" id="myReviewIndexMap">
		<id column="r_cname" property="r_cname"/>
		<id column="r_title" property="r_title"/>
		<id column="r_writedate" property="r_writedate"/>
	</resultMap>		

		 
	<select id="currentCourseIndex" parameterType="kr.co.tobe.vo.MemberVO" resultMap="currentCourseIndexpMap">
	    <![CDATA[
		    SELECT
		        m.member_no, i_cname, i_startday, i_endday, 
		        (SELECT teacher_img_org FROM course WHERE course.course_no = pd.course_no) as teacher_img
		    FROM member m
		    JOIN pay p ON m.member_no = p.member_no
		    JOIN pay_detail pd ON p.order_no = pd.order_no
		    WHERE m.member_no = #{member_no}
		        AND STR_TO_DATE(i_startday, '%Y-%m-%d') <= CURDATE()
		        AND STR_TO_DATE(i_endday, '%Y-%m-%d') > CURDATE()
		    ORDER BY i_startday
	    ]]>
	</select>


	<select id="pastCourseIndex" parameterType="kr.co.tobe.vo.MemberVO" resultMap="pastCourseIndexpMap">
		SELECT 
			m.member_no, pay_date, p.order_no, i_cname, i_price, i_startday, i_endday,
			(select teacher_img_org from course where course.course_no = pd.course_no) as teacher_img
		FROM member m
		JOIN pay p ON m.member_no = p.member_no
		JOIN pay_detail pd ON p.order_no = pd.order_no
		WHERE m.member_no = #{member_no}
		ORDER BY i_endday desc
	</select>	
	
	<select id="myCourseAskIndex" parameterType="kr.co.tobe.vo.MemberVO" resultMap="myCourseAskIndexMap">
		SELECT
		    c.cname, cq_title, cq_writedate
		FROM member m JOIN cqna cq ON m.member_no = cq.member_no
			JOIN course c ON c.course_no = cq.course_no
		WHERE m.member_no = 13
		ORDER BY cq_writedate;
	</select>	
	
	<select id="myReviewIndex" parameterType="kr.co.tobe.vo.MemberVO" resultMap="myReviewIndexMap">
		SELECT
		    c.cname, r.r_title, r.r_writedate
		FROM member m JOIN review r ON m.member_no = r.member_no
		JOIN course c ON c.course_no = r.course_no
		WHERE m.member_no = #{member_no}
		ORDER BY r.r_writedate desc
	</select>	
		
		
</mapper>