<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.chiefAdmin.pay.ChiefPayMapper">

	<select id="getlist" resultType="map" >
		SELECT p.order_no, m.hp, m.member_no, m.name, m.id, m.email, d.i_subject, d.i_cname, p.pay_total, p.point_usage, p.pay_date,d.product_no, p.pay_by  
	FROM tobe.member m 
	inner join tobe.pay p on m.member_no = p.member_no
	inner join tobe.pay_detail d on p.order_no = d.order_no
	</select>
	<select id="getcontent" resultType="map">
	SELECT  m.name, m.member_no, m.hp, m.id, m.email,p.order_no, p.pay_total, p.point_usage, p.pay_date,d.product_no , d.i_cname, p.pay_by
	FROM tobe.member m 
	inner join tobe.pay p on m.member_no = p.member_no
	inner join tobe.pay_detail d on p.order_no = d.order_no
     </select>   
     
</mapper>