<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.chiefAdmin.customer.ChiefCustomerMapper">
	<insert id="insert" parameterType="kr.co.tobe.vo.NoticeVO">
		INSERT INTO notice (
				n_title, n_content, n_writedate
				) VALUES (
				#{n_title}, #{n_content}, NOW()
				
				)
				<selectKey keyProperty="notice_no" order="AFTER"
					resultType="int">
					SELECT LAST_INSERT_ID()
				</selectKey>
	</insert>
	
	<insert id="faqinsert" parameterType="kr.co.tobe.vo.FaqVO">
		INSERT INTO faq (
				f_title, f_content
				) VALUES (
				#{f_title}, #{f_content}
				
				)
				<selectKey keyProperty="faq_no" order="AFTER"
					resultType="int">
					SELECT LAST_INSERT_ID()
				</selectKey>
	</insert>
	<!--  <select id="count" parameterType="kr.co.tobe.vo.FaqVO" resultType="int">
		SELECT COUNT(*) FROM faq
		<include refid="whereSql"/>
	</select>-->
	
	<select id="getlist" resultType="kr.co.tobe.vo.NoticeVO">
		select notice_no, n_title, n_writedate from notice
	</select>
	<select id="NoticeDetail" parameterType="kr.co.tobe.vo.NoticeVO" resultType="kr.co.tobe.vo.NoticeVO">
        SELECT n_title, n_writedate, n_content
        FROM notice
        WHERE notice_no = #{noticeNo};
    </select>	
    
	<select id="getqnalist" resultType="kr.co.tobe.vo.QnaVO">
		select qna_no, q_title, q_writedate, member_no from qna
	</select>
	<select id="QnaDetail" parameterType="kr.co.tobe.vo.QnaVO" resultType="kr.co.tobe.vo.QnaVO">
        SELECT q_title, q_writedate, q_content
        FROM qna
        <!-- JOIN member ON qna.member_no = member.member_no -->
        WHERE qna_no = #{qnaNo};
		<!--GROUP BY member.name;  -->
    </select>
    
    <select id="getfaqlist" resultType="kr.co.tobe.vo.FaqVO">
		select faq_no, f_title, f_content from faq
	</select>
	
	
	<!-- ㄴㅇㄹ호ㅓ -->
	<sql id="noticeSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					n_title LIKE '%${searchWord}%' OR n_content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
   <select id="noticeList" parameterType="kr.co.tobe.vo.NoticeVO" resultType="kr.co.tobe.vo.NoticeVO">
		SELECT *
		FROM notice
		<include refid="noticeSql"/>
		LIMIT #{startIdx}, 10
	</select>
	
	<select id="noticeCount" parameterType="kr.co.tobe.vo.NoticeVO" resultType="int">
		SELECT COUNT(*)
		FROM notice
		<include refid="noticeSql"/>
	</select>
   
   <update id="replyInsert" parameterType="kr.co.tobe.vo.QnaVO">
		UPDATE qna 
		SET q_reply = #{q_reply}
		WHERE qna_no =#{qna_no}
	</update>
	
	<!-- 문의 -->
	<sql id="qnaSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					q_title LIKE '%${searchWord}%' OR q_content LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
</mapper>