<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.tobe.chiefAdmin.sales.ChiefSalesMapper">

	<select id="payList" parameterType="java.util.Map" resultType="java.util.Map">
		
		    SELECT education, pay_date, pay_total, charge_total
		    FROM course c JOIN pay_detail pd
		    ON c.course_no=pd.course_no
		    JOIN pay p ON pd.order_no=p.order_no
		    <where>
			    <if test="education!=null and education!=''">
			        education = #{education}
			    </if>
		        <if test="(from!=null and from!='') and (to!=null and to!='')">
		             AND STR_TO_DATE(pay_date, '%Y-%m-%d') BETWEEN #{from} AND #{to}
		        </if>
		        <if test="(from!=null and from!='')and (to==null or to=='')">
		        <![CDATA[
		            AND STR_TO_DATE(pay_date, '%Y-%m-%d') >= #{from}
		        ]]>
		        </if>
		        <if test="(from==null or from=='') and (to!=null and to!='')">
		         <![CDATA[
		            AND STR_TO_DATE(pay_date, '%Y-%m-%d') <= #{to}
		        ]]>
		        </if>
			    
		    </where>
		    ORDER BY p.order_no DESC
		
	</select>
	
	<!-- 전체선택했을 때와 학원선택없이 날자만 선택했을 때의 총매출, 총수수료-->
	<select id="pay_chageTotal" parameterType="java.util.Map" resultType="java.util.Map">
		
		    SELECT SUM(pay_total) AS pay_total, SUM(charge_total) AS charge_total
		    FROM course c JOIN pay_detail pd
		    ON c.course_no=pd.course_no
		    JOIN pay p ON pd.order_no=p.order_no
	        <if test="(from!=null and from!='') and (to!=null and to!='')">
	             WHERE STR_TO_DATE(pay_date, '%Y-%m-%d') BETWEEN #{from} AND #{to}
	        </if>
	        <if test="(from!=null and from!='') and (to==null or to=='')">
	        <![CDATA[
	            WHERE STR_TO_DATE(pay_date, '%Y-%m-%d') >= #{from}
	        ]]>
	        </if>
	        <if test="(from==null or from=='') and (to!=null and to!='')">
	        <![CDATA[
	            WHERE STR_TO_DATE(pay_date, '%Y-%m-%d') <= #{to}
	        ]]>
	        </if>
		
	</select>
	
	

</mapper>